.containerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgba(20, 20, 171, 0.858);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(83, 83, 248);
}
